body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bag{
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#openedBag{
  display: none;
}

#containerInventory{
  margin-top: 5px;
  height: auto;
  width: 400px;
  background: #464904;
  display: none;
  border: 2px solid #C7804C;
  border-radius: 10px;
  flex-direction: column;
}

#Inventory{
  margin: 5px auto;
  background: #959825;
  height: 200px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.boxItem{
  margin: 5px auto;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerButton{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100px;
  width: 50%;
}

#containerDescription{
  margin: 5px auto;
  background-color: lightgrey;
  height: 100px;
  width: 90%;
  display: none;
  justify-content: center;
  align-items: center;
}
